{% extends 'index.html' %}
{% load static %}

{% block page-css %}
    <title>天天运动</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .fruit {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px;
            height: 100px;
        {#background-image: url('your-image-url');#} background-size: cover;
            background-color: transparent;
            z-index: 1;
        }

        .draw {
            position: absolute;
            width: 650px;
            height: 500px;
            top: 50px;
            left: 10px;
            background-color: transparent;
        }

    </style>


{% endblock %}

{% block content %}
    {#    该盒子数量应该随着可支持运动数量灵活变通。#}
    <div class="content"
         style="position:relative;width: 850px;height:600px;background-color: white;margin-top: 100px;margin-left: 450px;border-radius: 15px;background-color: rgba(255, 255, 255, 0.75);">
        <div style="display:inline-block;float:left;margin-left: 10px;margin-top: 50px;width:650px;height:500px;">
            <iframe id="game-video" src="{% static 'image/2fruit.png' %}" width="650" height="500"></iframe>
        </div>


        <div class="draw" style="z-index: 5">
            <canvas id="myCanvas" width="650" height="500"></canvas>
        </div>
        <div class="fruit" id="fruit0" style="display:block;position: absolute;top: 10px;left: 10px;">
            <img src="{% static 'image/1fruit.png' %}" style="width:100px;height:100px;">
        </div>
        <div class="fruit" id="fruit1" style="display:block;position: absolute;top: 10px;left: 10px;">
            <img src="{% static 'image/2fruit.png' %}" style="width:100px;height:100px;">
        </div>
        <div class="fruit" id="fruit2" style="display:block;position: absolute;top: 10px;left: 10px;">
            <img src="{% static 'image/3fruit.png' %}" style="width:100px;height:100px;">
        </div>
        <div class="fruit" id="fruit3" style="display:block;position: absolute;top: 10px;left: 10px;">
            <img src="{% static 'image/4fruit.png' %}" style="width:100px;height:100px;">
        </div>
        <div>
            <div style="display: inline-block;margin-top:50px;margin-left:10px;height:150px;width:150px;background-color: transparent">
                <div class="time" style="margin-top:30px;margin-left: 37px;">得分</div>
                <div class="time" id="score" style="margin-top:30px;margin-left: 60px;font-size: 40px">0</div>
            </div>
            <div style="display: inline-block;margin-top:10px;margin-left:10px;height:150px;width:150px;background-color: transparent">
                <div class="time" style="margin-top:30px;margin-left: 37px;">3:00</div>
                {#                btn btn-primary#}
                <button type="submit" id="start-btn" class="btn btn-primary" onclick="start_game()" style="margin-top:12px;margin-left: 45px;--bs-btn-hover-bg: rgb(241,181,162);
    --bs-btn-hover-border-color: rgb(241,181,162)">开始
                </button>
            </div>
            {#        <div style="display: inline-block;margin-top:10px;margin-left:10px;height:150px;width:150px;background-color: cornflowerblue">#}
            {#            排行榜#}
            {#        </div>#}

        </div>

    </div>
{% endblock %}

{% block page-js %}
    <script>
        var score = 0
        var timer = document.getElementsByClassName("time")[2];
        var start = document.getElementById("start-btn");
        var seconds = 180;
        var score_text = document.getElementById("score");
        var interval;
        var flag = false;

        let c = document.getElementById("myCanvas");
        $.ajaxSetup({

            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}

        })

        function getCookie(name) {
            var cookieName = name + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');
            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();
                if (cookie.indexOf(cookieName) === 0) {
                    return cookie.substring(cookieName.length, cookie.length);
                }
            }
            return null;
        }

        // 定义一个函数开始倒计时
        function startTimer() {
            timeInterval = 20;

            score = 0;

            // 每隔一秒执行一次updateTimer函数
            if (flag === false) {
                seconds = 180;

                score = 0;
                flag = true;
                score_text.innerText = score;
                interval = setInterval(updateTimer, 1000);
                startInterval();

            }


        }

        function updateTimer() {
            //每隔减一秒
            seconds = seconds - 1;
            // 将秒数转换为分和秒的格式
            var minutes = Math.floor(seconds / 60);
            var secondsLeft = seconds % 60;
            // 如果秒数小于10，前面加一个0
            if (secondsLeft < 10) {
                secondsLeft = "0" + secondsLeft;
            }
            // 更新页面中的倒计时
            timer.innerHTML = minutes + ":" + secondsLeft;
            if (seconds === 0) {
                flag = false;
                clearInterval(interval);
                clearInterval(fruitInterval);
                console.log("结果是" + score);
                {#在这里实现将更新score#}
                // 发起 Ajax 请求
                var xhr = new XMLHttpRequest();  // 创建 XMLHttpRequest 对象
                xhr.open("POST", "/update-score/", true);  // 发送 POST 请求到 /update-score/
                // 添加 CSRF 令牌到请求头
                var csrftoken = getCookie('csrftoken');  // 获取 CSRF 令牌
                xhr.setRequestHeader("X-CSRFToken", csrftoken);  // 将 CSRF 令牌设置为请求头的 X-CSRFToken 字段
                xhr.setRequestHeader("Content-type", "application/json");  // 设置请求头为 JSON 格式
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        console.log("Score updated successfully!");  // 打印请求成功的消息到控制台
                    }
                };
                var data = {
                    newScore: score  // 要更新的新分数
                };
                xhr.send(JSON.stringify(data));  // 发送包含用户名和新分数的 JSON 数
            }
        }

        // 给开始按钮添加点击事件监听器，调用startTimer函数
        start.addEventListener("click", startTimer);

        function myFunction() {
            var numBoxes = Math.floor(Math.random() * 4);
            for (var i = 0; i < numBoxes; i++) {
                var fruit_name = "fruit" + i;
                var box = document.getElementById(fruit_name);
                //console.log(box)
                box.style.display = "block"
            }
        }

        // 给开始按钮添加点击事件监听器，调用startTimer函数

        setInterval(function () {
            $.ajax({
                url: '/game/',
                type: 'post',
                success: function (data) {

                    // 获取绘图上下文
                    let ctx = c.getContext("2d");
                    ctx.lineWidth = 15;


                    if (typeof data !== "string") {
                        if (data["list"][0].hasOwnProperty("left_x")) {
                            ctx.clearRect(0, 0, c.width, c.height);
                            let p1_x;
                            let p1_y;
                            let p2_x;
                            let p2_y;
                            for (let i = 0; i < 9; i++) {
                                p1_x = data["list"][i]["left_x"]
                                p1_y = data["list"][i]["left_y"]
                                p2_x = data["list"][i + 1]["left_x"]
                                p2_y = data["list"][i + 1]["left_y"]
                                ctx.beginPath(); // 开始一条新的路径
                                ctx.moveTo(p1_x, p1_y); // 定义线条的起点
                                ctx.lineTo(p2_x, p2_y); // 定义线条的终点
                                ctx.stroke(); // 绘制线条
                            }
                            judge_score(data, "left_x", "left_y")
                        } else if (data["list"][0].hasOwnProperty("right_x")) {
                            ctx.clearRect(0, 0, c.width, c.height);
                            let p1_x;
                            let p1_y;
                            let p2_x;
                            let p2_y;
                            for (let i = 0; i < 9; i++) {
                                p1_x = data["list"][i]["right_x"]
                                p1_y = data["list"][i]["right_y"]
                                p2_x = data["list"][i + 1]["right_x"]
                                p2_y = data["list"][i + 1]["right_y"]
                                ctx.beginPath(); // 开始一条新的路径
                                ctx.moveTo(p1_x, p1_y); // 定义线条的起点
                                ctx.lineTo(p2_x, p2_y); // 定义线条的终点
                                ctx.stroke(); // 绘制线条
                            }
                            judge_score(data, "right_x", "right_y")
                        }

                    } else {
                        ctx.clearRect(0, 0, c.width, c.height);
                    }


                },
                error: function (error) {
                    console.log(error)
                }
            })
        }, 50)


        var box0 = document.getElementById('fruit0');
        var box1 = document.getElementById('fruit1');
        var box2 = document.getElementById('fruit2');
        var box3 = document.getElementById('fruit3');
        var time = 1;
        var velocityX = 1.5; // horizontal velocity
        var v_rule = -13.5
        var velocityY = v_rule; // vertical velocity
        var velocityY1 = v_rule;
        var velocityY2 = v_rule;
        var velocityY3 = v_rule;
        var positionX1 = 0; // horizontal position
        var positionY1 = 500; // vertical position
        var positionX2 = 100; // horizontal position
        var positionY2 = 500; // vertical position
        var positionX3 = 200; // horizontal position
        var positionY3 = 500; // vertical position
        var positionX4 = 300; // horizontal position
        var positionY4 = 500; // vertical position
        var gravity = 0.2; // gravity
        var timeInterval = 20; // time interval in milliseconds
        fruit = function () {
            time += 1;
            velocityY += gravity; // v = u + at
            velocityY1 += gravity;
            velocityY2 += gravity;
            velocityY3 += gravity;
            positionX1 += velocityX; // s = ut
            positionY1 += velocityY; // s = ut + 1/2at^2
            positionX2 += velocityX; // s = ut
            positionY2 += velocityY1; // s = ut + 1/2at^
            positionX3 += velocityX; // s = ut
            positionY3 += velocityY2; // s = ut + 1/2at^2
            positionX4 += velocityX; // s = ut
            positionY4 += velocityY3; // s = ut + 1/2at^2
            box0.style.left = positionX1 + 'px';
            box0.style.top = positionY1 + 'px';
            box1.style.left = positionX2 + 'px';
            box1.style.top = positionY2 + 'px';
            box2.style.left = positionX3 + 'px';
            box2.style.top = positionY3 + 'px';
            box3.style.left = positionX4 + 'px';
            box3.style.top = positionY4 + 'px';
            // Check if the box has hit the bottom of the window
            if (positionY1 + box0.offsetHeight >= 600) {
                box0.style.display = 'none'; // hide the box
                box0.style.left = "0px";
                box0.style.top = "500px";
                time = 0;
                positionX1 = 0; // horizontal position
                positionY1 = 500; // vertical position
                velocityY = v_rule;
                var numBoxes = Math.floor(Math.random() * 4);
                //console.log(numBoxes);
                if (numBoxes % 2 === 0) {
                    box0.style.display = 'block';
                }
            }
            if (positionY2 + box1.offsetHeight >= 600) {
                box1.style.display = 'none'; // hide the box
                box1.style.left = "100px";
                box1.style.top = "500px"
                positionX2 = 100; // horizontal position
                positionY2 = 500; // vertical position
                velocityY1 = v_rule;
                var numBoxes = Math.floor(Math.random() * 4);
                //console.log(numBoxes);
                if (numBoxes % 2 === 0) {
                    box1.style.display = 'block';
                }
            }
            if (positionY3 + box2.offsetHeight >= 600) {
                box2.style.display = 'none'; // hide the box
                box2.style.left = "200px";
                box2.style.top = "500px"
                positionX3 = 200; // horizontal position
                positionY3 = 500; // vertical position
                velocityY2 = v_rule;
                var numBoxes = Math.floor(Math.random() * 4);
                //console.log(numBoxes);
                if (numBoxes % 2 === 0) {
                    box2.style.display = 'block';
                }
            }
            if (positionY4 + box3.offsetHeight >= 600) {
                box3.style.display = 'none'; // hide the box
                box3.style.left = "300px";
                box3.style.top = "500px"
                positionX4 = 300; // horizontal position
                positionY4 = 500
                velocityY3 = v_rule;
                var numBoxes = Math.floor(Math.random() * 4);
                //console.log(numBoxes);
                if (numBoxes % 2 === 0) {
                    box3.style.display = 'block';
                }
            }
        }

        function startInterval() {// 每隔 1000 毫秒（1 秒）调用一次 showTime 函数
            fruitInterval = setInterval(fruit, timeInterval);
        }


        function start_game() {
            var c = document.getElementById("game-video");
            console.log(c)
            c.src = "http://127.0.0.1:8000/video"
            console.log("执行到这里")
        }

        function judge_score(data, str1, str2) {
            var box0 = document.getElementById('fruit0');
            console.log(box0.style)
            var box1 = document.getElementById('fruit1');
            var box2 = document.getElementById('fruit2');
            var box3 = document.getElementById('fruit3');
            var all_box = [box0, box1, box2, box3]
            for (let i = 0; i < 4; i++) {
                var right_num = 0
                console.log(all_box[i].style)
                console.log(all_box[i])
                if (all_box[i].style.display === "block") {
                    for (let j = 0; j < 10; j++) {
                        console.log("开始执行")

                        var p2_x = data["list"][j][str1]
                        var p2_y = data["list"][j][str2]
                        box_left = Number(all_box[i].style.left.slice(0, all_box[i].style.left.length - 2))
                        box_top = Number(all_box[i].style.top.slice(0, all_box[i].style.left.length - 2))
                        console.log(box_left)
                        console.log(box_top)
                        console.log(box_left + 100)
                        console.log(box_top + 100)
                        console.log(p2_x)
                        console.log(p2_y)
                        if (p2_x > box_left && p2_x < box_left + 100 && p2_y > box_top - 30 && p2_y < box_top + 100) {
                            all_box[i].style.display = "none"
                            right_num = right_num + 1
                            console.log(right_num)
                        }
                    }
                    if (right_num > 0) {
                        score = score + 1
                        score_text.innerText = score;

                    }
                }
            }
            {#var box1top = box0.style.top#}
            {#var box2top = box1.style.top#}
            {#var box3top = box2.style.top#}
            {#var box4top = box3.style.top#}
            {#var box1left = box0.style.left#}
            {#var box2left = box1.style.left#}
            {#var box3left = box2.style.left#}
            {#var box4left = box3.style.left#}

        }
    </script>
{% endblock %}
