{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
</head>
<body>

{% block content %}
    <div class="box">
        <div class="content">
            <div class="login-wrapper">
                <h1>登录</h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">用户名</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">密码</label>
                        {{ form.password }}
                        <span class="error-msg">{{ form.errors.username.0 }}</span>
                    </div>
                    <div class="mb-3">
                        <label for="id_code" class="form-label">图片验证码</label>
                        <div style="display: flex; align-items: center;">
                            {{ form.code }}
                            <img src="/image/code/" alt="" id="image_code" style="margin-left: 20px;   width: 200px; border: 2px solid black; border-radius: 4px;"
                                 onclick="this.setAttribute('src','/image/code/?random='+Math.random())">
                        </div>
                        <span class="error-msg">{{ form.errors.code.0 }}</span>
                    </div>
                    <div style="text-align: center;">
                        <a style="text-decoration: none;" href="{% url 'signup' %}">没有账号？注册一个</a>
                    </div>
                    <div>
                        <button type="submit" class="button" style="margin-left: 145px">
                            <span>登录</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>