{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }

    </style>

</head>
<body style="background-image: linear-gradient(to right, #f4ecc3, rgb(234, 191, 176));">

{% block content %}
    <div class="login_panel">
        <h1 style="text-align: center">登录</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">用户名</label>
                {#            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">密码</label>
                {{ form.password }}
                <span style="color: red;">{{ form.errors.username.0 }}</span>
            </div>

            <div class="mb-6">
                <label for="id_code" class="form-label">图片验证码</label>
                {{ form.code }}
                <span style="color: red;">{{ form.errors.code.0 }}</span>
            </div>
            <div>
                <img src="/image/code/" alt="" id="image_code"
                     onclick="this.setAttribute('src','/image/code/?random='+Math.random())">

            </div>

            <div>
                <button type="submit" class="btn btn-primary" name="btn1" id="btn1"
                        style="margin: 150px 0px 40px 200px; ">
                    登录
                </button>
                <button type="submit" class="btn btn-primary" name="btn2" id="btn2"
                        style="margin: 150px 50px 40px 50px;">
                    注册
                </button>
            </div>
        </form>
    </div>
{% endblock %}


<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>